:root {
  --dark-blue: #002144;
  --blue: #002144;
  --light-blue: #7197B8;
  --grey: #E0D3CB;
  --red: #DC3737;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--dark-blue);
  color: var(--grey);
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: var(--grey);
  padding: 1rem;
}
